<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Despesas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-fab right bottom>
        <button ion-fab mini (click)="novaDespesa()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-row>
      <ion-col>
        <ion-datetime displayFormat="MMMM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="mesAtual" (ionChange)="carregaDespesas()"></ion-datetime>
      </ion-col>
      <ion-col text-right>
        <p>{{ total | currency:"BRL":code:"1.2" }}</p>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="total==0" color="light">
        <ion-card-content text-center>
          <p>&nbsp;</p>
          <h2>Sem registros de despesas no período</h2>
          <p>&nbsp;</p>
        </ion-card-content>
      </ion-card>

    <ion-list>

      <ion-item-group *ngFor="let d of arrDespesas">
          <div *ngIf="d.titulo">&nbsp;</div>
          <ion-item-divider no-lines *ngIf="d.titulo" color="light">{{ d.dia }}/{{ d.mes }}</ion-item-divider>
          <ion-item-sliding>
              <ion-item>
                <ion-icon item-left [name]="setIcon(d.tipo)" color="primary"></ion-icon>
                {{ d.desc }}
                <p item-end>{{ d.valor | currency:"BRL":code:"1.2" }}</p>
              </ion-item>
              <ion-item-options>
                  <button ion-button icon-only color="danger" (click)="removeDespesa(d.key)"><ion-icon name="trash"></ion-icon></button>
                  <button ion-button icon-only color="primary" (click)="editDespesa(d)"><ion-icon name="create"></ion-icon></button>
              </ion-item-options>
            </ion-item-sliding>
      </ion-item-group>

    </ion-list>


</ion-content>
